@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,100;0,700;1,600&family=Open+Sans&family=Roboto:wght@100;400&display=swap');

/*=========================================================================Colors=======*/

.uppercase{
    text-transform: uppercase;
        }
body{
    background-color: lightgray;
}

.ui-menu-color{
    color: #fafafa;
}

.list-inline-item{
    background-color:#000;
}

.menu-item span{
    color: #fafafa;
}

.menu-item a i{
    color: #fafafa;
}

.bg-color-contact{
    background-color: #000;
}
/*===================================================================Headings=======*/
.logo{
    background-image: url("../images/NMCrest.jpg");
    width: 210px;
    height: 210px;
    float: center;
    background-size: 257px;
    background-repeat: no-repeat;
    background-position-x: -47px;
    background-position-y: -55px;
    margin-top: 10px;
    margin-bottom: 10px;
     background-size: contain;
    background-position: center;
    max-height: 200px;
    min-width: auto;
        transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


.name{
    font-family: "Montserrat", sans-serif;
    font-size: 46px;
    font-weight: 600;
    font-style: italic;
    margin-top: 30px;
    text-align: center;
    text-shadow: 2px 2px
}

.title{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size:28px ;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}

.about{
    font-size: 16px;
    font-style: italic;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    color: cornflowerblue;
    }

.social-networks-heading{
    padding-top: 40px;
    text-align: center;
}

.social-networks{
    text-align: left;
    padding-top: 10px;
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 210%;
    margin: 2%;
    padding: 5%;
    color: #000;
    
}

.list-inline-item:not(:last-child){
   margin: 0;
       }

.menucontainer{
    font-size: 0;
}

.nav li{
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding:0;
        }

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 100px;
}

.menuitem a i{
    padding-top: 20px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align:center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}
/*=============================================Hover.css================================*/
.hvr-sweep-to-right:before{
    background: cornflowerblue;
    height:100px;
    }
#bg-color-home{
    background-color: cornflowerblue;
    padding: 20px;
}
.imgheader{
    font-family: "roboto", sans-serif;
    font-style: italic;
    text-align: center;
    color: #fafafa;
    background-color: cornflowerblue;
    padding-top: 20px;
    padding-bottom: 40px;
    width:0 auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
#image-zoom{
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom{
    from{
        transform: scale(.7);
    }
    to{
        transform: scale(1.2);
    }
}

#cover-text, #cover-text h4{
    color: black;
}

#cover-text{
    font-family: "Montserrat", sans-serif;
    font-size: 140px;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 700px;
    height: 100px;

    padding: 30px;
    text-align: center;
    

    background-color: white;

    top: 30px;
    right: 350px;
    bottom: 10px;
    position: absolute;

    border: 1px solid lightgray;
}
/*====================================================================Footer====================*/
.uppercase{
    text-transform: uppercase;
        }

.footer-headings{
    font-family: "Montserrat", sans-serif; 
    font-style: italic;
    color:black;
    font-weight: 600;
    text-align: center;
    min-height: 50px;
    padding-top: 20px;
               }
 .footer-text{
     color: black;
     font-family: "Roboto", sans-serif;
     font-style: italic;
 }
.footer-img{
    width: 100px;
    height: 100px;
    margin: 20px;
    align-content: center;
    }

 p{
     padding-left: 20px;
     color: black;
     text-align: center;
 }   
/*=======================================Gallery Section============================*/

.gallery-pics{
    height: 300px;
    width: 300px;
    }
/*============================================Contact Us================================*/

.committee{
    font-family: "Montserrat", sans-serif;     
    font-size: 38px;
    text-align: center;
    color: cornflowerblue;
    font-weight: 700;
    font-stretch: semi-condensed;
    padding: 20px;
    margin-bottom: 30px;
    font-style: italic;
   }

.contact-text {
    text-align:left;
    background-color: lightgrey;
    padding: 30px;
  }

.contact-text-2{
    background-color: cornflowerblue;
}
.contact-text-2 h5{
    color: black;
}

.contact-text h5,p{
      color: cornflowerblue;
      font-family: "Roboto", sans-serif; 
      font-weight: 900;
      font-style: italic;
      text-align: left;
  }
table {
  font-family: "Roboto", sans-serif; 
  border-collapse: collapse;
  width: 70%;
  margin-inline-end: auto;
  background-color: black;
  border: 10px solid cornflowerblue;
  padding-bottom: 20px;
}

tr {
  border: 2px solid black;
  padding: 5px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color:cornflowerblue;
  
}

td {
  border: 10px solid cornflowerblue;
  padding: 5px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color:white;
  background-color: black;
}
tr:nth-child(even) {
  background-color: #dddddd;
  
}
table-setup{
    margin-top: 0;
    
    
}

.request-info{
      background-color: cornflowerblue;
              }
.request-info h4{
    padding-top: 20px;
        text-align: center;
        font-family: "Montserrat", sans-serif; 
        font-weight: 900;
        font-style: italic;
        color: #fafafa;
}
.request-info h5{
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #fafafa;
}
.center-form{
padding-top:10px;
margin: 0 auto;
max-width:70% ;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    }

button[type="submit"]:hover {
  background-color: black;
  color:red;
}

/*====================================================Download========================*/
.btn-outline-secondary h4{
    text-align: center;
    padding: 20px;
    color: cornflowerblue;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.btn-outline-secondary p{
    color: black;
    text-align: center;
    letter-spacing: 4px;
    }
#download-items{
    background-color: cornflowerblue;
    color: #fafafa;
    text-align: center;
    padding: 15px;
}
/*==========================Carousel Item - INDEX.HTML========================*/
.carousel-item{
    height: 32rem;
    background-color: #000;
    color: white;
    position: relative;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    }

.container {
    position: absolute;
    right: -800px;
    bottom:20px;
    padding-bottom: 20px;
    padding-top: 30px;
    width: 90%;
    }

/*==========================Index - media queries========================*/

@media screen and (max-width:700px){
.carousel-item{
    height: 15rem;
    background-color: #000;
    color: white;
    position: relative;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    }
}


@media screen and (max-width:700px){
    .logo{
        right: -100px;
        height: 100px;
    }
}
@media screen and (max-width:700px){
            .name{
            font-size: 28px;
            text-align: center;
            margin-top: 5px;
            text-shadow: 0px;
                }
    }

@media screen and (max-width:700px){
            .title{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 14px ;
    margin-top: 2px;
    margin-bottom: 0px;
    text-align: center;
}
    }
@media screen and (max-width:700px){
.about{
    font-size: 12px;
    font-style: italic;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;
    color: cornflowerblue;
    }
}
@media screen and (max-width:700px){
    .social-networks-heading{
    padding-top: 5px;
    text-align: center;
}
}
@media screen and (max-width:700px){
.social-networks{
    text-align: left;
    padding-top: 5px;
}
@media screen and (max-width:700px){
.social-networks li{
   display: contents;
    
}
}
@media screen and (max-width:700px){
.social-networks i{
    font-size: 150%;
    margin: 2%;
    padding: 5px;
    color: #000;
    right: -40px;
    }
}
@media screen and (max-width:700px){
.social-networks-heading{
    font-size: 14px;
}
}
}
    
    /*=======================================Gallery Section============================*/

.gallery-pics{
    height: 350px;
    width: 350px;
    padding-left: 100px;
    left: auto;
    right: auto;    
    padding-bottom: 20px;
}
/*============================================Gallery - Use on media screens - Media Query=================*/
  
@media screen and (max-width:700px){
.gallery-pics{
    height: 100px;
    width: 100px;
    padding-left: 10px;
    left: auto;
    right: auto;    
    padding-bottom: 10px;
}
}
/*=======================================Contact Us - Media Query=======*/
@media screen and (max-width:700px){
tr {
  
  font-size: 12px;
  font-weight: 300;
  
  width: 90%;
}
}
@media screen and (max-width:700px){
td {
  
  font-size: 12px;
  font-weight: 300;
  color:white;
  background-color: black;
  width: 300px;
}
}
@media screen and (max-width:700px){
table {
  font-family: "Roboto", sans-serif; 
  border-collapse: collapse;
  width: 300px;
  margin-inline-end: auto;
  background-color: black;
  border: 1px solid cornflowerblue;
  padding-bottom: 20px;
}
}
@media screen and (max-width:700px){
.committee{
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
     }
}
@media screen and (max-width:700px){
.contact-text h5,p{
      color: black;
      font-family: "Roboto", sans-serif; 
      font-weight: 500;
      font-style: italic;
      text-align: left;
     
  }
}